<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Presupuesto | Videojuegos Dani</title>
</head>
<body>
    <header>
        <div>
            <h1>Videojuegos Dani</h1>
        </div>
        <nav>
        <ul class="menu">
            <li><a href="../index.html">Inicio</a></li> 
            <li><a href="productos.html">Nuestros productos</a></li> 
            <li><a href="presupuesto.html" class="activo">Solicitar presupuesto</a></li> 
            <li><a href="contacto.html">Contacta con nosotros</a> </li> 
        </ul>
        </nav>
    </header>
    <main>
        <form>
            <label for="nombre">Nombre</label>
            <input type="text" id="nombre" name="nombre" required>

            <label for="email">Email</label>
            <input type="email" id="email" name="email" required>

            <label for="telefono">Teléfono</label>
            <input type="tel" id="telefono" name="telefono" required>

            <label for="mensaje">Solicite más información:</label>
            <textarea id="mensaje" name="mensaje" required></textarea>
            <div class="privacidad">
                <input type="checkbox" id="privacidad" required>
                <label for="privacidad">Acepto la politica de privacidad</label>
            </div>
            <button type="submit">Enviar</button>
        </form>
    </main>
    <footer>
        <a href="https://Instagram.com" target="_blank">
        <img src="../images/iconoinstagram.png" alt="Icono de Instagram">
        </a>
        <a href="https://x.com" target="_blank">
        <img src="../images/iconox.png" alt="Icono de X">
        </a>
        <a href="https://facebook.com" target="_blank">
        <img src="../images/iconofacebook.png" alt="Icono de Facebook">
        </a>
        <p>Av. Fernández Balsera, 22, 33402 Avilés, Asturias</p>
        <p>Aviso legal</p>
    </footer>
</body>
</html>