<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Contacta con nosotros | Videojuegos Dani</title>
</head>
<body>
    <header>
        <div>
            <h1>Videojuegos Dani</h1>
        </div>
        <nav>
        <ul class="menu">
            <li><a href="../index.html">Inicio</a></li> 
            <li><a href="productos.html">Nuestros productos</a></li> 
            <li><a href="presupuesto.html">Solicitar presupuesto</a></li> 
            <li><a href="contacto.html" class="activo">Contacta con nosotros</a> </li> 
        </ul>
        </nav>
    </header>
    <main>
        <div class="contacto">
        <article>
            <h2>Donde nos encontramos</h2>
            <img src="../images/localizacion.png" alt="Nuestra localizacion">
        </article>
        <article>
            <h2>Nuestros datos</h2>
            <p>Direccion: Av. Fernández Balsera, 22, 33402 Avilés, Asturias</p>
            <p>Telefono: 617668019 </p>
            <p>Email: danihomebox@gmail.com</p>
        </article>
        </div>
    </main>
    <footer>
        <a href="https://Instagram.com" target="_blank">
        <img src="../images/iconoinstagram.png" alt="Icono de Instagram">
        </a>
        <a href="https://x.com" target="_blank">
        <img src="../images/iconox.png" alt="Icono de X">
        </a>
        <a href="https://facebook.com" target="_blank">
        <img src="../images/iconofacebook.png" alt="Icono de Facebook">
        </a>
        <p>Av. Fernández Balsera, 22, 33402 Avilés, Asturias</p>
        <p>Aviso legal</p>
    </footer>
</body>
</html>