<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Productos | Videojuegos Dani</title>
</head>
<body>
    <header>
        <div>
            <h1>Videojuegos Dani</h1>
        </div>
        <nav>
        <ul class="menu">
            <li><a href="../index.html">Inicio</a></li> 
            <li><a href="productos.html" class="activo">Nuestros productos</a></li> 
            <li><a href="presupuesto.html">Solicitar presupuesto</a></li> 
            <li><a href="contacto.html">Contacta con nosotros</a> </li> 
        </ul>
        </nav>
    </header>
    <main>
        <section class="galeria">
            <h2>Nuestros Productos</h2>
            <article>
                <img src="../images/caratulamariobros.jpg" alt="Caratula del videojuego Super Mario Bros Wonder">
                <h3>Super Mario Bros Wonder</h3>
                <p>Precio: 79.99 euros</p>
            </article>
            <article>
                <img src="../images/caratulamotogp2026.jpg" alt="Caratula del videojuego MotoGP 2026">
                <h3>MotoGP 2026 </h3>
                <p>Precio: 69.99 euros</p>
            </article>
            <article>
                <img src="../images/caratulaprinceofpersia.jpg" alt="Caratula del videojuego The rouge prince of persia">
                <h3>The rouge prince of persia </h3>
                <p>Precio: 34.99 euros</p>
            </article>
            <article>
                <img src="../images/caratulapragmata.jpg" alt="Caratula del videojuego Pragmata">
                <h3>Pragmata </h3>
                <p>Precio: 59.99 euros</p>
            </article>
            <article>
                <img src="../images/caratulatomodachi.jpg" alt="Caratula del videojuego Tomodachi life">
                <h3>Tomodachi Life: Una vida de ensueño</h3>
                <p>Precio: 59.99 euros</p>
            </article>
            <article>
                <img src="../images/caratulashemmue.jpg" alt="Caratula del videojuego Shenmue III Enhanced Edición Especial">
                <h3>Shenmue III Enhanced Edición Especial </h3>
                <p>Precio: 59.99 euros</p>
            </article>
        </section>
    </main>
    <footer>
        <a href="https://Instagram.com" target="_blank">
        <img src="../images/iconoinstagram.png" alt="Icono de Instagram">
        </a>
        <a href="https://x.com" target="_blank">
        <img src="../images/iconox.png" alt="Icono de X">
        </a>
        <a href="https://facebook.com" target="_blank">
        <img src="../images/iconofacebook.png" alt="Icono de Facebook">
        </a>
        <p>Av. Fernández Balsera, 22, 33402 Avilés, Asturias</p>
        <p>Aviso legal</p>
    </footer>
</body>
</html>